# Watchtower Docker Compose Environment File (Template)

# Watchtower settings
WATCHTOWER_HOSTNAME=${WATCHTOWER_HOSTNAME}
WATCHTOWER_NOTIFICATIONS=${WATCHTOWER_NOTIFICATIONS}

# Email settings
WATCHTOWER_NOTIFICATION_EMAIL_FROM=${EMAIL_FROM}
WATCHTOWER_NOTIFICATION_EMAIL_TO=${EMAIL_TO}
WATCHTOWER_NOTIFICATION_EMAIL_SERVER=${EMAIL_SERVER}
WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PORT=${EMAIL_PORT}
WATCHTOWER_NOTIFICATION_EMAIL_SERVER_USER=${EMAIL_USER}
WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PASSWORD=${EMAIL_PASS}

# Behavior
WATCHTOWER_CLEANUP=true
WATCHTOWER_INCLUDE_RESTARTING=true
WATCHTOWER_POLL_INTERVAL=86400
